<div class="container">
<h2>MORE MORE JUMP!の日記</h2>
<table class="table">
<tr>
  <th>タイトル</th>
  <th>投稿日</th>
  <th>更新日</th>
</tr>
<% @blogs.each do |blog| %>
<tr>
  <td><%= link_to admin_blog_path(blog.id) do %><%= blog.blog_title %><% end %></td>
  <td></td>
  <td></td>
</tr>
<% end %>
</table>
</div>