<div class="container">
<h1>私たちがMORE MORE JUMP!です！</h1>
<div><%= link_to "花里みのり", members_minori_hanasato_path %></div>
<div><%= link_to "桐谷遥", members_haruka_kiritani_path %></div>
<div><%= link_to "桃井愛莉", members_airi_momoi_path %></div>
<div><%= link_to "日野森雫", members_shizuku_hinomori_path %></div>
</div>