<div class="container">
<h2>会員ログイン</h2>

<%= form_with model: @user, url: user_session_path do |f| %>
<div><%= f.text_field :email, autocomplete: "", placeholder: "メールアドレス" %></div>
<div><%= f.text_field :password, autocomplete: "", placeholde: "パスワード" %></div>
<% end %>

<%= render "public/shared/links" %>
</div>